---
import Heading from "@/components/Heading";
import BackgroundMedia from "@/components/BackgroundMedia.astro";
import meoncompImg from "@/assets/meoncomp.jpg";
import LottieLogo from "@/components/Logo/LottieLogo";
import { Image } from "astro:assets";
import POSTER_SRC from "@/assets/GWS-animated.png";
import Button from "@/components/Button/Button";
---

<section class="min-h-screen w-full outer-section">
    <div class="inner-section flex flex-wrap gap-5">
        <div
            class="group flex flex-col w-full md:w-[calc(40%-0.625rem)] lg:w-[calc(35%-0.625rem)] min-h-[400px] rounded-3xl overflow-hidden relative card-bg"
        >
            <div
                class="inner-card-style inner-card-transition inner-card-color"
            >
            </div>
            <div class="flex flex-col flex-1 p-6 relative z-10">
                <Heading tagName="h2" text="100+" />
                <p class="text-text large-text leading-tight">
                    Lightning Fast Websites powering up businesses like yours!
                </p>
            </div>
            <div
                class="absolute bottom-0 w-full h-110 -mb-42 lg:-mb-52 flex justify-center items-center z-0"
            >
                <LottieLogo
                    alt="Griffin's Web Services Animated Logo"
                    loading="lazy"
                    trigger="visible"
                    mediaClasses="block w-[400px] h-[400px] object-contain"
                    loop={false}
                    client:visible
                >
                    <Image
                        src={POSTER_SRC}
                        alt="Griffin's Web Services Logo"
                        loading="lazy"
                        decoding="async"
                        class="block w-[300px] h-[300px] lg:w-[400px] lg:h-[400px] object-contain"
                        widths={[300, 400, 500]}
                        sizes="(min-width: 1024px) 400px, 300px"
                        fetchpriority="low"
                    />
                </LottieLogo>
            </div>
        </div>
        <div
            class="group flex flex-col md:flex-row w-full md:w-[calc(60%-0.625rem)] lg:w-[calc(65%-0.625rem)] min-h-[400px] overflow-hidden rounded-3xl card-bg relative"
        >
            <div
                class="inner-card-style inner-card-transition inner-card-color"
            >
            </div>
            <div
                class="relative flex-1 lg:rounded-br-[250px] overflow-hidden md:w-1/2 lg:mb-5 z-0"
            >
                <BackgroundMedia
                    backgroundMedia={{
                        image: {
                            src: meoncompImg,
                            imageClass: "object-cover",
                            aboveTheFold: false,
                        },
                    }}
                />
            </div>
            <div
                class="flex-1 flex flex-col gap-6 justify-center items-end relative z-10 p-6 lg:px-6"
            >
                <!-- <div class="inner-section">will be something</div> -->
                <Heading
                    tagName="h3"
                    className="text-3xl lg:text-4xl lg:text-right text-left"
                    before="We're a New Jersey based Web Agency that creates "
                    text="fast, engaging websites."
                    textClass="m-0 p-0 emphasized-text"
                />
                <Button
                    href={"/"}
                    variant="secondary"
                    size="lg"
                    client:visible
                >
                    Learn More
                </Button>
            </div>
        </div>
    </div>
</section>
