---
// src/layouts/Header.astro
/**
 * Site Header with Navigation
 */
import ContentRenderer from "@/components/ContentRenderer/ContentRenderer.astro";
import Logo from "@/components/Logo/Logo.astro";
import ThemeControls from "@/components/ThemeControls/ThemeControls.astro";
import { related } from "@/utils/query/snippets";
---
<header class="fixed w-full top-0 z-[100000]">
    <div class="relative flex items-center justify-between head-foot-section py-2 gap-4">
      
      <!-- Logo -->
      <Logo loading="eager" trigger="scroll" animateOutText={true} />
      
      <ThemeControls className="hidden sm:flex" />

      <div class="flex items-center gap-4">
        <ThemeControls className="sm:hidden" />

        <div class="flex items-center justify-center sm:gap-4">
          <!-- Navigation Menu using query -->
          <ContentRenderer
            query={related("menu-items", "menu", "main-menu")}
            variant="MenuVariant"
            mode="hamburger-only"
            className="header-navigation"
            hamburgerTransform={true}
            closeButton={false}
          />
        </div>
      </div>
    </div>
</header>
